
{{ once }}
    {{ push:head }}
        {{ if logged_in }}
            <script type="module">
                window.addEventListener('alpine:init', () => {
                    Alpine.store('wishlist', {
                        wishlistData: null,
                        currentProduct: null,
                        activeCollectionLength: 0,

                        init() {
                            this.getWishlist();
                        },

                        async getWishlist() {
                            try {
                                const response = await fetch('/!/gaia/account/wishlists', {
                                    method: 'GET',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-Requested-With': 'XMLHttpRequest',
                                        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                                    }
                                });

                                const responseData = await response.json();

                                if (responseData.reason == 'no_wishlist_data') {
                                    this.createWishlist('default');
                                    return
                                }

                                this.wishlistData = responseData;

                                const collection = this.wishlistData.collections.find(item => item.id === 'default');

                                this.activeCollectionLength = collection.items.length;

                                window.dispatchEvent(new CustomEvent(`wishlist-data-ready`));
                            }
                            catch (error) {
                                console.log('Error fetching wishlist data:', error);

                                this.wishlistData = null;
                            }
                        },

                        async createWishlist(name) {
                            try {
                                const response = await fetch('/!/gaia/account/wishlist/create', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-Requested-With': 'XMLHttpRequest',
                                        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                                    },
                                    body: JSON.stringify({
                                        name: 'Saved',
                                        id: 'default'
                                    })
                                });

                                this.getWishlist();
                            }
                            catch (error) {
                                console.log('Error creating wishlist:', error);

                                gaia.toast({
                                    text: `{{ "We couldn't add this product to your wishlist at this time" | trans }}`,
                                    type: `error`
                                });

                                this.status = ! this.status;
                            }
                            finally {
                                this.loading = false;
                            }
                        },

                        async addToWishlist(productId) {
                            let collectionId = 'default';

                            try {
                                const response = await fetch('/!/gaia/account/wishlist/update', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-Requested-With': 'XMLHttpRequest',
                                        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                                    },
                                    body: JSON.stringify({
                                        product_id: productId,
                                        wishlist_ids: ['default'],
                                    })
                                });

                                this.wishlistData.collections.find(item => item.id == collectionId).items.push(productId);

                                gaia.toast({
                                    text: `{{ "Added product to wishlist" | trans }}`,
                                    type: `success`
                                });
                            }
                            catch (error) {
                                console.log('Error adding to wishlist:', error);

                                gaia.toast({
                                    text: `{{ "We couldn't add this product to your wishlist at this time" | trans }}`,
                                    type: `error`
                                });
                            }
                            finally {
                                window.dispatchEvent(new CustomEvent(`wishlist-add-${productId}`, {
                                    detail: {
                                        isProductInWishlist: this.isProductInWishlistData(productId)
                                    },
                                }));
                            }
                        },

                        async removeFromWishlist(productId) {
                            let collectionId = 'default';

                            try {
                                const response = await fetch('/!/gaia/account/wishlist/removeItem', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        'X-Requested-With': 'XMLHttpRequest',
                                        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                                    },
                                    body: JSON.stringify({
                                        product_id: productId,
                                        wishlist_ids: ['default'],
                                    })
                                });

                                this.wishlistData.collections.find(item => item.id == collectionId).items.splice(this.wishlistData.collections.find(item => item.id == collectionId).items.indexOf(productId), 1);
                            }
                            catch (error) {
                                console.log('Error removing from wishlist:', error);

                                gaia.toast({
                                    text: `{{ "We couldn't remove this product from your wishlist at this time" | trans }}`,
                                    type: `error`
                                });
                            }
                            finally {
                                window.dispatchEvent(new CustomEvent(`wishlist-remove-${productId}`, {
                                    detail: {
                                        isProductInWishlist: this.isProductInWishlistData(productId)
                                    },
                                }));
                            }
                        },

                        isProductInWishlistData(productId) {
                            return this.wishlist.items.includes(productId)
                        },

                        get wishlist() {
                            return this.wishlistData.collections[0];
                        },
                    });
                })
            </script>
        {{ /if }}
    {{ /push:head }}
{{ /once }}

{{ once }}
    {{ push:scripts }}
        <script type="module">
            Alpine.data('productWishlist', (productId, isProductInWishlist) => ({
                loading: false,
                changed: false,
                isUserLoggedIn: JSON.parse(`{{ logged_in ? 'true' : 'false' }}`),
                isProductInWishlist: isProductInWishlist,
                productId: productId,

                handleWishlistButtonClick() {

                    if (this.loading) {
                        return;
                    }

                    if (! this.isUserLoggedIn) {
                        window.location.href = "/account/login";

                        return;
                    }

                    this.changed = true;
                    this.loading = true;


                    if (this.isProductInWishlist) {
                        Alpine.store('wishlist').removeFromWishlist(this.productId);
                    } else {
                        Alpine.store('wishlist').addToWishlist(this.productId);
                    }

                    this.isProductInWishlist = ! this.isProductInWishlist;
                },

                eventListeners: {
                    [`@wishlist-remove-${productId}.window`](event) {
                        this.loading = false;
                        this.isProductInWishlist = event.detail.isProductInWishlist;
                    },
                    [`@wishlist-add-${productId}.window`](event) {
                        this.loading = false;
                        this.isProductInWishlist = event.detail.isProductInWishlist;
                    }
                }
            }))
        </script>
    {{ /push:scripts }}
{{ /once }}
