<div>
    <div class="relative flex p-2 transition group rounded-xl hover:bg-slate-100">
        {{ if featured_image }}
            <x-picture :src="featured_image" size.default.width="92" size.default.height="92">
                <x-slot:img class="w-24 rounded-lg" />
            </x-picture>
        {{ /if }}

        <div class="flex flex-col justify-center ml-2 sm:ml-5">
            <h3><a href="{{ url }}" class="stretched-link">{{ title }}</a></h3>

            {{ gaia:product:price }}
                <div class="flex items-center gap-2 text-sm mt-2">
                    <span class="block tracking-wide">
                        {{ if {gaia:product:configurable} }}From{{ /if }}
                        <span class="{{ if is_discounted }}text-red-700{{ /if }}">{{ gaia:currency :price="min_price" }}</span>
                    </span>
                    {{ if is_discounted }}
                        <s class="block tracking-wide line-through text-slate-500">
                            {{ gaia:currency :price="max_price" }}
                        </s>
                    {{ /if }}
                </div>  
            {{ /gaia:product:price }}
        </div>
    </div>
</div>
