{{ lines as="products" }}
    {{ if products.no_results }}
        <div class="flex flex-col items-center justify-center mt-10 h-full rounded-xl">
            {{ svg src="orders" class="size-10" }}
            <p class="my-2">
                {{ trans:minicart.empty_cart_message }}
            </p>
        </div>
    {{ /if }}

    {{ unless products.no_results }}
        <ul>
            {{ products scope="line" }}
                {{ collection:variants scope="variant" slug:is="{ variant_id }" }}
                    {{ collection:products scope="product" slug:is="{ variant:product_slug }" }}
                        <li class="flex flex-wrap" wire:key="{{ gaia:id }}{{ line:quantity }}">
                            {{ partial:features/minicart/item/image }}

                            <div class="flex flex-col flex-1 ml-4">
                                <div>
                                    <div class="flex justify-between">
                                        {{ partial:features/minicart/item/title }}
                                        {{ partial:features/minicart/item/price }}
                                    </div>

                                    {{ partial:features/minicart/item/options }}
                                    {{ partial:features/minicart/item/discounts }}
                                </div>

                                <div class="flex items-end justify-between flex-1 text-sm">
                                    {{ partial:features/minicart/item/quantity }}

                                    <div class="flex">
                                        <x-button icon="delete" variant="ghost" wire:click="removeFromCart('{{ line:id }}')" wire:loading.attr="disabled" class="btn-sm text-slate-800">
                                            {{ trans:default.remove }}
                                        </x-button>
                                    </div>
                                </div>
                            </div>

                            {{ unless line.last }}
                                <x-divider class="w-full my-7" />
                            {{ /unless }}
                        </li>
                    {{ /collection:products }}
                {{ /collection:variants }}
            {{ /products }}
        </ul>
    {{ /unless }}
{{ /lines }}
