
{{ if ! logged_in }}
    {{ redirect to="/account/login" }}
{{ /if }}

{{ partial:customer/profile/partials/back_link text="Back to account" url="/account" }}

<div class="container max-w-5xl py-head">
    <x-heading level="1" class="mb-14">Settings</x-heading>
    
    <div class="grid grid-gap-5">
        <section class="card">
            <x-heading level="2" size="3" class="mb-10">Change Password</x-heading>

            {{ user:password_form }}
                {{ if errors }}
                    <x-alert variant="error" class="mb-10">There are issues with your form. Please check and try again.</x-alert>
                {{ /if }}
    
                {{ if success }}
                    <x-alert variant="success" class="mb-10">You've submitted the form successfully.</x-alert>
                {{ /if }}
            
                <div class="grid gap-6">
                    <x-input name="current_password" type="password" label="Current Password" required autocomplete="none" autocapitalize="none" spellcheck="false" />
                    <x-input name="password" label="New Password" type="password" required reveal autocomplete="new-password" autocapitalize="none" spellcheck="false" />
                    <x-input name="password_confirmation" label="Confirm New Password" type="password" required reveal autocomplete="new-password" autocapitalize="none" spellcheck="false" />
                </div>
                
                <x-button type="submit" class="mt-10">Submit</x-button>
            {{ /user:password_form }}
        </section>
    </div>
</div>
