
{{ if ! logged_in }}
    {{ redirect to="/account/login" }}
{{ /if }}

{{ partial:customer/profile/partials/back_link text="{trans:profile.back_to_profile}" url="/account" }}

<div class="container max-w-5xl py-head">
    <x-heading level="1" class="mb-14">{{ trans:profile.settings.title }}</x-heading>
    
    <div class="grid grid-gap-5">
        <section class="card">
            <x-heading level="2" size="3" class="mb-10">{{ trans:profile.settings.password.title }}</x-heading>

            {{ user:password_form }}
                {{ if errors }}
                    <x-alert variant="error" class="mb-10">
                        {{ trans:forms.standard_errors_message }}
                    </x-alert>
                {{ /if }}
    
                {{ if success }}
                    <x-alert variant="success" class="mb-10">
                        {{ trans:forms.standard_success_message }}
                    </x-alert>
                {{ /if }}
            
                <div class="grid gap-6">
                    <x-input name="current_password" type="password" label="{{ trans:forms.current_password_label }}" required autocomplete="none" autocapitalize="none" spellcheck="false" />
                    <x-input name="password" label="{{ trans:forms.new_password_label }}" type="password" required reveal autocomplete="new-password" autocapitalize="none" spellcheck="false" />
                    <x-input name="password_confirmation" label="{{ trans:forms.confirm_password_label }}" type="password" required reveal autocomplete="new-password" autocapitalize="none" spellcheck="false" />
                </div>
                
                <x-button type="submit" class="mt-10">{{ trans:default.confirm }}</x-button>
            {{ /user:password_form }}
        </section>
    </div>
</div>
