<div class="flex flex-col" x-data="productPrice()">
    <span x-show="! show">
        {{ gaia:product:price }}
            {{ if {gaia:product:single} }}
                {{ if is_discounted }}
                    <span class="block mt-2 text-3xl font-medium text-red-600">{{ trans:default.now }} {{ gaia:currency :price="min_display_price" }}</span>
                    <div class="flex items-center mt-2">
                        <span class="text-sm text-slate-500">{{ trans:default.was }} {{ gaia:currency :price="min_compare_at_price" }}</span>
                        {{ if (discount_percentage <= '5') }}
                            <span class="p-1 ml-2 text-sm text-red-600 rounded-xs">(-{{ gaia:currency :price="discount_amount" }})</span>
                        {{ else }}
                            <span class="p-1 ml-2 text-sm font-medium text-red-600 rounded-xs">(-{{ discount_percentage | floor }}%)</span>
                        {{ /if }}
                    </div>
                {{ /else }}
                    <span class="block mt-2 text-3xl" >{{ gaia:currency :price="min_display_price" }}</span>
                {{ /if }}
            {{ /if }}

            {{ if {gaia:product:configurable} }}
                <span class="block mt-2 text-3xl">{{ unless is_uniform_price }}{{ trans:default.from }}{{ /unless }} {{ gaia:currency :price="min_display_price" }}</span>
            {{ /if }}
        {{ /gaia:product:price }}
    </span>

    {{ if {gaia:product:configurable} }}
        <span x-show="show" x-cloak>
            <template x-if="$store.product.priceTable.isDiscounted">
                <div>
                    <span class="block mt-2 text-3xl font-medium text-red-600">{{ trans:default.now }} <span x-text="$store.product.priceTable.formattedMinPrice"></span></span>
                    <div class="flex items-center mt-2">
                        <span class="text-sm text-slate-500">{{ trans:default.was }} <span x-text="$store.product.priceTable.formattedMaxPrice"></span></span>
                        <span class="p-1 ml-2 text-sm font-medium text-red-600 rounded-xs">
                            (-<span x-text="$store.product.priceTable.discountPercentage"></span>%)
                        </span>
                    </div>
                </div>
            </template>

            <template x-if="(! $store.product.priceTable.isDiscounted) && $store.product.currentProduct != undefined">
                <span class="block mt-2 text-3xl" x-text="$store.product.priceTable.formattedMinPrice"></span>
            </template>

            <span x-show="$store.product.currentProduct == undefined" class="block mt-2 text-3xl">{{ trans:default.from }} <span x-text="$store.product.priceTable.formattedMinPrice"></span>
        </span>
    {{ /if }}
</div>

<script>
    function productPrice() {
        return {
            show: false,
            init() {
                // Once the product options are changed then show the new prices
                this.$watch('$store.product.selectedOptions', value => {
                    this.show = true;
                });
            }
        }
    }
</script>
