{{ if logged_in }}
    {{ redirect to="/account" }}
{{ /if }}

<div class="container py-head md:py-32">
    <div class="px-5 sm:px-0">
        <x-heading level="1" class="mb-10 text-center">{{ trans:auth.login_heading }}</x-heading>

        {{ user:login_form allow_request_redirect="true" }}

            <div class="grid max-w-lg gap-6 mx-auto mt-8">
                {{ if errors }}
                    <x-alert variant="error" class="mb-10">
                        {{ get_errors:all }}
                            {{ messages | ol }}
                        {{ /get_errors:all }}
                    </x-alert>
                {{ /if }}   

                <x-input name="email" label="{{ trans:forms.label.email }}" value="{{ old:email }}" required="input" autocomplete="email" autocapitalize="none" spellcheck="false" />
                <x-input name="password" label="{{ trans:forms.label.password }}" type="password" required="input" reveal autocomplete="current-password" autocapitalize="none" spellcheck="false" />

                <div class="flex justify-end">
                    <x-button variant="link" class="text-sm" as="a" href="/account/recover">
                        {{ trans:forms.forgot_password_link_text }}
                    </x-button>
                </div>

                <x-button variant="primary" type="submit" class="w-full">
                    {{ trans:auth.login_button_text }}
                </x-button>
            </div>
        {{ /user:login_form }}

        <div class="flex justify-center mt-24">
            <x-button variant="link" as="a" href="/account/register">{{ trans:forms.login_no_account_link_text }}</x-button>
        </div>
    </div
</div>
