{{ if logged_in }}
    {{ redirect to="/account?password_reset_success=true" }}
{{ /if }}

<div class="container py-head md:py-32">
    <div class="px-5 sm:px-0">
        <x-heading level="1" class="mb-10 text-center">{{ trans:auth.recover_reset_heading }}</x-heading>

        <div class="w-full max-w-lg mx-auto mt-8">
            {{ user:reset_password_form }}
                {{ if url_invalid }}
                    <x-alert variant="error" class="mt-20">
                        {{ trans:auth.recover_reset_error_url_invalid_text }}
                    </x-alert>
                {{ else }}
                    {{ if errors }}
                        <x-alert variant="error" class="my-20">
                            {{ trans:auth.recover_reset_error_url_invalid_text }}
                        </x-alert>
                    {{ /if }}

                    <div class="grid gap-6">
                        <x-input name="email" label="Email" value="{{ old:email }}" required autocomplete="email" autocapitalize="none" spellcheck="false" />
                        <x-input name="password" label="Password" type="password" required reveal autocomplete="new-password" autocapitalize="none" spellcheck="false" />
                        <x-input name="password_confirmation" label="Confirm Password" type="password" required reveal autocomplete="new-password" autocapitalize="none" spellcheck="false" />
                        
                        <x-button variant="primary" type="submit" class="w-full mt-6">
                            {{ trans:auth.recover_reset_button_text }}
                        </x-button>
                    </div>
                {{ /if }}
            {{ /user:reset_password_form }}
        </div>
    </div>
</div>
