<section class="flex py-32 overflow-hidden bg-emerald-300">
  <div class="container">
    <h1 class="text-center h1 mb-7">You've successfully installed Gaia!</h1>
    <p class="max-w-2xl mx-auto text-lg text-center">
      What's next? If you haven't already, you should review the <a href="https://gaiakit.com/docs" class="font-bold underline">Gaia documentation</a> to learn more.

      We've included a barebones homepage to get you started.
    </p>
  </div>
</section>

<section class="py-16 md:py-32">
  <div class="container">
    <x-heading level="2"class="mb-3">Some Products</x-heading>
    <p class="max-w-xl text-base text-gray-600 lg:text-lg">
      Once you have imported products successfully, some products will show here!
    </p>

    <div class="grid grid-cols-2 gap-5 mt-10 md:grid-cols-4">
      {{ collection:products limit="8" }}
        {{ unless no_results}}
          {{ partial:partials/product }}
        {{ /unless }}
      {{ /collection:products }}
    </div>
  </div>
</section>

<section class="py-16 bg-slate-50">
  <div class="container grid grid-cols-1 gap-6 lg:gap-15 lg:grid-cols-2">
    <div>
      <x-heading level="2">Join our community of subscribers</x-heading>
      <p class="max-w-lg mt-4 text-gray-600">
        Receive regular deals delivered straight to your inbox. It's quick, easy, and free.
      </p>
    </div>
    <form class="grid grid-cols-1 gap-2">
      <div class="flex w-full gap-2 p-2 bg-white border shadow rounded-xl border-slate-100">
        <x-input type="email" placeholder="Enter your email..." class="border-transparent shadow-none" />
        <x-button type="submit" class="h-full min-w-30 lg:min-w-40">Subscribe</x-button>
      </div>
      <p class="text-xs text-gray-500 ml-1 [&>a]:text-sky-600 [&>a]:underline">
        By subscribing, you agree with Acme's <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a>.
      </p>
    </form>
  </div>
</section>
