<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="robots" content="noindex" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Gaia: The rapid development starterkit for your next headless Shopify store">

    <title>{{ title ?? site:name }}</title>

    {{ partial:layout/head/favicon }}

    {{ partial:layout/layout/head_end }}
</head>
<body class="text-sm antialiased leading-normal bg-slate-100 md:text-base font-default text-slate-800">

    {{ partial:layout/layout/body_start }}

    <div class="flex flex-col min-h-screen">
        {{ partial:layout/header/header }}

        <main id="main-content">
            {{ template_content }}
        </main>

        {{ partial:layout/footer/footer }}
    </div>

    {{ partial:layout/layout/body_end }}

</body>
</html>
