<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="robots" content="noindex" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Gaia: The rapid development starterkit for your next headless Shopify store">

    <title>{{ title ?? site:name }}</title>

    {{ partial:layout/head/favicon }}

    {{ vite src="resources/css/site.css" }}
    {{ vite src="resources/js/site.js" }}

    {{ livewire:styles }}

    {{ stack:head }}

    {{ gaia:head }}
</head>
<body class="text-sm antialiased leading-normal bg-slate-100 md:text-base font-default text-slate-800">

    {{ stack:after_body_start }}

    <livewire:minicart lazy="on-load" />
    <livewire:live-search />
    {{ partial:layout/toasts/toasts }}

    <div class="flex flex-col min-h-screen">
        {{ partial:layout/header/header }}

        <main id="main-content">
            {{ template_content }}
        </main>

        {{ partial:layout/footer/footer }}
    </div>

    {{ stack:before_body_end }}

    <script type="module">
        gaia.swiperReady = () => {
            return new Promise(function(resolve, reject) {

                const complete = () => {
                    document.removeEventListener('swiper-is-ready', complete);
                    resolve();
                }

                if (window.Swiper) {
                    resolve();
                } else {
                    document.addEventListener('swiper-is-ready', complete, {once: true})
                }
            });
        },

        gaia.onInteraction().then(() => {
            gaia.loadScript(`{{ vite:asset src="resources/js/swiper.js" }}`).then(() => {
                document.dispatchEvent(new CustomEvent('swiper-is-ready'));
            })
        })
    </script>


    {{ livewire:scriptConfig }}

    {{ vite src="resources/js/alpine.js" }}

    {{ stack:stores }}
    {{ stack:scripts }}

    <!-- Blade components scripts -->
    <x-scripts />

    <!-- Wishlist scripts -->
    {{ partial:features/wishlist/scripts }}

    {{ gaia:livewire_start }}

</body>
</html>
