
<div>
    <section class="fixed z-30 w-full bottom-8 md:left-8 md:w-[400px] content-visibility-auto" x-data x-defer>
        <template x-for="(status, index) in $store.toasts.toasts" :key="index" class="message">
            <div
                x-data="{show: false}"
                x-init="
                    $nextTick(() => { show = true });
                    $watch('status.show', value => show = value);
                "
                x-collapse="show"
                x-show="show"
            >
                <div
                    class="flex items-center px-6 py-6 mb-3 border rounded-xl"
                    :class="{ 
                        'text-emerald-500 bg-emerald-50 border-emerald-500/50': status.type === 'success', 
                        'text-rose-500 bg-rose-50 border-rose-500/50': status.type === 'error', 
                        'text-sky-500 bg-sky-50 border-sky-500/50': status.type == 'info' , 
                        'text-yellow-500 bg-yellow-50 border-yellow-500/50': status.type == 'warning' }"
                    role="status"
                    :id="status.id"
                >

                    <div class="self-start">
                        <template x-if="status.type == 'success'">
                            {{ svg src="check_circle" class="w-6 h-6 mt-1 mr-4 fill-emerald-500" aria-hidden="true" }}
                        </template>
                        <template x-if="status.type == 'error'">
                            {{ svg src="error" class="w-6 h-6 mt-1 mr-4 fill-rose-500" aria-hidden="true" }}
                        </template>
                        <template x-if="status.type == 'warning'">
                            {{ svg src="warning" class="w-6 h-6 mt-1 mr-4 fill-yellow-500" aria-hidden="true" }}
                        </template>
                        <template x-if="status.type == 'info'">
                            {{ svg src="info" class="w-6 h-6 mt-1 mr-4 fill-sky-500" aria-hidden="true" }}
                        </template>
                    </div>
                    <p>
                        <span x-text="status.title" class="block w-full mb-1 font-medium capitalize"></span>
                        <span x-text="status.text"></span>
                    </p>
                </div>
            </div>
        </template>
    </section>
</div>

<script type="module">
    document.addEventListener('alpine:init', () => {
        Alpine.store('toasts', {
            init() {
                window.addEventListener('gaia:toast', (e) => {
                    this.addStatus({
                        role: 'status',
                        ...e.detail
                    });
                });
            },
            toasts: [],
            delay: 5000,
            removeAfterDelay(message, id) {
                setTimeout(() => {
                    document.getElementById(id).addEventListener('transitionend', () => {
                        message = undefined;
                    });
                    message.show = false;
                }, message.delay);
            },
            removeMessage(message) {
                document.getElementById(message.id).addEventListener('transitionend', () => {
                    message = undefined;
                });
                message.show = false;
            },
            addStatus(data) {
                const id = gaia.uuid();
                const role = data.role || 'status';
                const obj = {
                    title: data.title || data.type,
                    text: data.text,
                    type: data.type,
                    location: data.location,
                    show: false,
                    id: id,
                    delay: data.delay || this.delay
                };
                
                this.toasts.push(obj);

                this.toasts[this.toasts.findIndex(item => item.id === id)].show = true;

                this.removeAfterDelay(this.toasts.find(item => item.id === id), id);
                
                return;

            }
        });
    });
</script>
