<article class="relative w-full h-full overflow-hidden transition rounded-lg hover:shadow-xl hover:shadow-slate-200" wire:key="{{ slug }}" wire:loading.class="opacity-50">

    <div class="flex flex-col h-full bg-white">
        {{ if featured_image }}
            <div class="w-full aspect-square" >
                <a href="{{ url }}" tabindex="-1" class="block">
                    <x-picture
                        :src="featured_image"
                        size.default.width="250"
                        size.default.height="250"
                        size.md.width="400"
                        size.md.height="500">
                        <x-slot:img class="w-full"/>
                    </x-picture>
                </a>
            </div>
        {{ /if }}

        <div class="absolute top-3 right-3">
            {{ partial:features/wishlist/trigger :wishlist="wishlist"  }}
        </div>

        <div class="flex flex-col px-4 pt-5 grow pb-7 lg:px-6">
            <h2 class="mb-2 text-base font-medium md:text-lg">
                <a href="{{ url }}">
                    {{ title }}
                </a>
            </h2>

            <div class="pt-4 mt-auto">
                {{ gaia:product:price }}
                    {{ if {gaia:product:single} }}
                        {{ if is_discounted }}
                            <span class="flex items-center gap-1 mt-2 text-base font-medium text-red-600 sm:text-lg">
                                {{ gaia:currency :price="min_display_price" }}
                                {{ if (discount_percentage <= '5') }}
                                    <span class="text-xs font-medium text-red-600">(-{{ gaia:currency :price="discount_amount" }})</span>
                                {{ else }}
                                    <span class="text-xs font-medium text-red-600">(-{{ discount_percentage | floor }}%)</span>
                                {{ /if }}
                            </span>
                            <div class="flex items-center">
                                <span class="text-sm line-through text-slate-500">{{ gaia:currency :price="min_compare_at_price" }}</span>
                            </div>
                        {{ /else }}
                            <span class="block mt-2 text-base font-medium sm:text-lg">{{ gaia:currency :price="min_display_price" }}</span>
                        {{ /if }}
                    {{ /if }}

                    {{ if {gaia:product:configurable} }}
                        <span class="block mt-2 font-medium">
                            {{ unless is_uniform_price }}From{{ /unless }} <span class="text-lg">{{ gaia:currency :price="min_display_price" }}</span>
                        </span>
                    {{ /if }}
                {{ /gaia:product:price }}
            </div>
        </div>
    </div>
</article>
