<header class="relative flex items-center h-[68px] sm:h-[96px] bg-white">
    <div class="container">
        <div class="flex flex-wrap items-center py-1 lg:py-4 md:justify-start">


            <div class="w-5/12">
                {{ partial:layout/navigation/mobile/navigation }}
                {{ partial:layout/navigation/desktop/navigation }}
            </div>

            <div class="flex-grow hidden mr-10 lg:block">
                {{ partial:layout/header/logo }}
            </div>

            <div class="flex justify-end w-full lg:w-5/12 lg:ml-auto sm:gap-2">

                <x-header-button 
                    title="Menu"
                    icon="menu"
                    \x-data="{}"
                    class="lg:hidden"
                    @click="$dispatch('drawer:open:navigation')"
                    x-bind:aria-controls="$store.navigation.id"
                    aria-label="Open Main Navigation"
                />

                <x-header-button 
                    title="{{ 'Search' | trans }}" 
                    icon="search"
                    x-data=""
                    @click="$dispatch('drawer:open:livesearch')"
                    class="flex-col h-auto p-2 btn btn-ghost min-w-11 sm:min-w-16"
                    id="search-trigger"
                    aria-label="{{ 'Search' | trans }}" 
                />

                <div class="flex justify-center lg:hidden grow">
                    {{ partial:layout/header/logo }}
                </div>

                {{ partial:layout/header/user_menu }}

                {{ partial:features/minicart/minicart_counter }}            
            </div>
        </div>
    </div>
</header>
